/* grid - styles customized */
.amber {
    background: rgb(255,255,153); 
}
/*look and feel*/
sup {
  color: #ffff;
  font-size: 10px;
}

md-input-container {
  margin: 2px !important;
}

/*Device Optimization*/

/* Extra small devices (phones, less than 768px) */
@media (max-width:767px) {
  body {font-size: 2px;}
}

/* Small devices (tablets, 768px and up) */
@media (min-width:768px) {
  body {font-size: 10px;}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width:992px) {
  body {font-size: 14px;}
	/* grid */

  .mdl-data-table th {
    background-color: rgb(207,216,220) !important;
    font-size: 14px !important;
  }
      /*Graphs cards */

  md-card-content p {
   font-size: 11px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width:1200px) {
  body {font-size: 15px;}
	/* grid */
  .mdl-data-table th {
    background-color: rgb(207,216,220) !important;
    font-size: 15px !important;
  }
      /*Graphs cards */

  md-card-content p {
   font-size: 13px;
  }
}



.pagination ul {
  background-color: rgb(207,216,220);
}

.mdl-data-table{
	font-size: 12px !important;
}

.pagination-page.active {
    background: rgb(224,64,251) !important;
    border-color: rgb(224,64,251) !important;
}

/*Switch */

md-switch.md-default-theme .md-bar, md-switch .md-bar {
	background-color: rgb(207,216,220) !important;
}


  
