<md-dialog aria-label="Banks List" flex="95">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Banks List in </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <!-- grid code begins -->
      <div ng-app="drDGrid" ng-controller="drCtrlDGrid">
         <div layout-fill>
            <md-content layout-padding layout="row" layout-align="start">
                <div flex-gt-md="60" flex-md="80" flex-xs="100">
                    <div layout-gt-xs="row" layout-xs="column" layout-align="stretch center">
                        <div  layout="row" layout-align="censpace-between endter start">
                           <md-input-container md-no-float md-is-error="false" class="md-block flex-gt-xs flex-xs">
                              <input ng-model="ifscCode" class="md-input"
                                       ng-change="fBanksGridActions.filter()"
                                       id="ifsccode"
                                       placeholder="IFSC Code #"
                                       filter-by="ifscCode"
                                       filter-type="text"
                                       grid-id="banks"
                                       aria-invalid="false" >
                                       <br/>
                                       <md-switch ng-model="badvFilters" aria-label="Advanced Filters">
                                         Advanced filters
                                      </md-switch>
                            </md-input-container>
                             <md-input-container md-no-float md-is-error="false" class="md-block flex-gt-xs flex-xs" ng-show="badvFilters">
                                <input ng-model="branchCode" class="md-input"
                                         ng-change="fBanksGridActions.filter()"
                                         id="branchCode"
                                         placeholder="Branch Code"
                                         filter-by="branchCode"
                                         filter-type="text"
                                         grid-id="banks"
                                         aria-invalid="false" >
                              </md-input-container>
                              <md-input-container md-no-float md-is-error="false" class="md-block flex-gt-xs flex-xs" ng-show="badvFilters">
                                <input ng-model="bankName" class="md-input"
                                         ng-change="fBanksGridActions.filter()"
                                         id="bankName"
                                         placeholder="Bank Name"
                                         filter-by="bankName"
                                         filter-type="text"
                                         grid-id="banks"
                                         aria-invalid="false" >
                              </md-input-container>
                              <md-input-container md-no-float md-is-error="false" class="md-block flex-gt-xs flex-xs" ng-show="badvFilters">
                                <input ng-model="bCity" class="md-input"
                                         ng-change="fBanksGridActions.filter()"
                                         id="bcity"
                                         placeholder="City"
                                         filter-by="city"
                                         filter-type="text"
                                         grid-id="banks"
                                         aria-invalid="false" >
                              </md-input-container>
                              <md-input-container md-no-float md-is-error="false" class="md-block flex-gt-xs flex-xs" ng-show="badvFilters">
                                <input ng-model="branchName" class="md-input"
                                         ng-change="fBanksGridActions.filter()"
                                         id="branchName"
                                         placeholder="Branch Name"
                                         filter-by="branchName"
                                         filter-type="text"
                                         grid-id="banks"
                                         aria-invalid="false" >
                              </md-input-container>
                              <md-input-container md-no-float md-is-error="false" class="md-block flex-gt-xs flex-xs" ng-show="badvFilters">
                                <input ng-model="bsumCex" class="md-input"
                                         ng-change="fBanksGridActions.filter()"
                                         id="bsumCex"
                                         placeholder="CEX"
                                         filter-by="sumCex"
                                         filter-type="text"
                                         grid-id="banks"
                                         aria-invalid="false" >
                              </md-input-container>
                              <md-input-container md-no-float md-is-error="false" class="md-block flex-gt-xs flex-xs" ng-show="badvFilters">
                                <input ng-model="bsumAde" class="md-input"
                                         ng-change="fBanksGridActions.filter()"
                                         id="bsumAde"
                                         placeholder="ADE"
                                         filter-by="sumAde"
                                         filter-type="text"
                                         grid-id="banks"
                                         aria-invalid="false" >
                              </md-input-container>
                              <md-input-container md-no-float md-is-error="false" class="md-block flex-gt-xs flex-xs" ng-show="badvFilters">
                                <input ng-model="btotal" class="md-input"
                                         ng-change="fBanksGridActions.filter()"
                                         id="btotal"
                                         placeholder="total"
                                         filter-by="total"
                                         filter-type="text"
                                         grid-id="banks"
                                         aria-invalid="false" >
                              </md-input-container>
                        </div>
                    </div>
                    <div grid-data id='banks' grid-options="fBanksGridOptions" grid-actions="fBanksGridActions">
                        <div layout-gt-sm="row" layout-sm="column" layout-align="center">
                            <div flex-gt-sm="25" flex-sm="100" layout="row" layout-align="start center">
                                <span>{{filtered.length}} items total</span>
                            </div>
                            <div flex-gt-sm="75" flex-xs="100">
                                <div layout-xs="column" layout="row" layout-align-xs="end end" layout-align="end center">
                                    <grid-pagination max-size="5"
                                                     boundary-links="true"
                                                     class="pagination mdl-shadow--2dp"
                                                     ng-if="paginationOptions.totalItems  > paginationOptions.itemsPerPage"
                                                     total-items="paginationOptions.totalItems"
                                                     ng-model="paginationOptions.currentPage"
                                                     ng-change="reloadGrid()"
                                                     items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                                    <md-input-container flex-offset-gt-xs="5" class="items-per-page">
                                        <md-select ng-init="paginationOptions.itemsPerPage = '10'" ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()">
                                            <md-option>10</md-option>
                                            <md-option>25</md-option>
                                            <md-option>50</md-option>
                                            <md-option>75</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                            </div>
                        </div>
                         <div>
                            <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                                <thead>
                                <tr>
                                    <th sortable="ifscCode" class="sortable">
                                        <span>IFSC Code</span>
                                    </th>
                                    <th sortable="branchCode" class="sortable">
                                        <span>Branch Code</span>
                                    </th>
                                    <th sortable="bankName" class="sortable">
                                        <span>Bank Name</span>
                                    </th>
                                    <th sortable="city" class="sortable">
                                        <span>City</span>
                                    </th>
                                    <th sortable="branchName" class="sortable">
                                        <span>Branch Name</span>
                                    </th>
                                    <th sortable="sumCex" class="sortable">
                                        <span>Total Currency Exchanged</span>
                                    </th>
                                    <th sortable="sumAde" class="sortable">
                                        <span>Total Currency Deposited</span>
                                    </th>
                                    <th sortable="total" class="sortable">
                                        <span>Total Amount</span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr grid-item>
                                    <td ng-bind="item.ifscCode">/td>
                                    <td ng-bind="item.branchCode"></td>
                                    <td ng-bind="item.bankName"></td>
                                    <td ng-bind="item.city"></td>
                                    <td ng-bind="item.branchName"></td>
                                    <td ng-bind="item.sumCex"></td>
                                    <td ng-bind="item.sumAde"></td>
                                    <td ng-bind="item.total"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div layout-xs="column" layout="row" layout-align-xs="end end" layout-align="end center">
                            <grid-pagination max-size="5"
                                             boundary-links="true"
                                             class="pagination"
                                             ng-if="paginationOptions.totalItems  > paginationOptions.itemsPerPage"
                                             total-items="paginationOptions.totalItems"
                                             ng-model="paginationOptions.currentPage"
                                             ng-change="reloadGrid()"
                                             items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                            <md-input-container flex-offset-gt-xs="5" class="items-per-page">
                                <md-select ng-init="paginationOptions.itemsPerPage = '10'" ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()">
                                    <md-option>10</md-option>
                                    <md-option>25</md-option>
                                    <md-option>50</md-option>
                                    <md-option>75</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </md-content>
        </div>  
      </div>
      <!-- grid code ends -->
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="hide()">
        Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>